<nav>
	<a class="logo" href="#"><img [src]=logo ></a>
	<ul class="nav-bar">
    <li class="nav-bar_item"><a routerLink="/home">Home</a></li>
		<!-- <li class="nav-bar_item"><a routerLink="/aboutus">AbouT us</a></li> -->
		<li class="nav-bar_item"><a routerLink="/contact">Contact</a></li>
    <li class="nav-bar_item"><a routerLink="/register-component">User Register</a></li>
		<li class="nav-bar_item dropdown">
			<a href="#">Login</a>
			<ul class="project">
				<li class="drop-item"> <a routerLink="">Admin</a></li>
				<li class="drop-item"><a href="login-component">Users</a></li>
			</ul>
		</li>
	</ul>
</nav>
