
<div class="container">
<div class="row" >
  <div class="column left">
    <h1>Cleaning <br><span>Services</span></h1>
    <h2>Clean Home. Professional Service. Fair Price.</h2>
    <p>We handle light cleaning needed for the upkeep of homes as well as commercial buildings, such as offices, hotels, and hospitals. Typically we’ll replace bedding, clean rooms, halls and bathrooms, vacuum, sweep, mop, replace toiletries and make beds.</p>
    <button class="button-17" role="button">Get Started</button>
  </div>
  <div class="column right" id="pic">
    <img [src] = homeimg id="hm">
  </div>
  <!-- HTML !-->
</div>
<div class="container2">
  <h2 style="text-align:center;font-size: 35px">Our Team</h2>
  <div class="row">
    <div class="column1">
      <div class="card">
        <img [src]=aboutimg style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column1">
      <div class="card">
        <img [src]=aboutimg alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column1">
      <div class="card">
        <img [src]=aboutimg alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column1">
      <div class="card">
        <img [src]=aboutimg alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  </div>


</div>
<!--
<div class="about-section">
  <h1>About Us Page</h1>
  <p>Exceptional service for all your residential cleaning needs
    No matter how big or small your home, trust your dedicated team of Molly Maid® house cleaning pros to do an incredible job every time they visit. Clean less and spend your valuable time doing the things you love. Make the best home cleaning services available a part of your routine!
    We all know that cleanliness is vital in helping you feel relaxed and safe in your home. We also know there isn't enough time in the day to get it all done! At Molly Maid, we understand that house cleaning comes after family events, work, and everything that keeps life busy. That's why we offer various home cleaning services designed to suit your home's unique needs.</p>
</div> -->


